<header class="home--header">
  <h1 class="home--header--title">Robert Squires</h1>
  <p class="home--header--intro">
    <span>Experienced design, research and technology consultant,</span>
    <span>curiously building unprecedented tools and products,</span>
    <span>passionate about making the internet a better place.</span>
  </p>
</header>
<section class="grid currently">
  <h2 class="grid--title">Currently...</h2>
  <article class="grid--card mr">
    <img class="grid--card--img mr-1" src="/public/mr-1.png" />
    <img class="grid--card--img mr-2" src="/public/mr-2.png" />
    <p class="grid--card--copy">
      <span>Leading innovation for cyber security</span>
      <span>product incubator Magnetic Rock</span>
    </p>
  </article>
  <article class="grid--card papaya">
    <img class="grid--card--img papaya-1" src="/public/papaya.png" />
    <p class="grid--card--copy">
      <span>Building a modern and sustainable</span>
      <span>e-commerce stack for Papaya-Studio</span>
    </p>
  </article>
  <article class="grid--card codehub">
    <img class="grid--card--img codehub-1" src="/public/codehub.png" />
    <p class="grid--card--copy">
      <span>Mentor to aspiring designers</span>
      <span>and developers at CodeHub</span>
    </p>
  </article>
  <article class="grid--card basis">
    <p class="grid--card--copy">
      <span>Revolutionising the way teams store,</span>
      <span>share and recall knowledge at Basis</span>
    </p>
  </article>
</section>
<section class="grid proud">
  <h2 class="grid--title">Proud of...</h2>
  <article class="grid--card ranges">
    <img class="grid--card--img ranges-1" src="/public/ranges.svg" />
    <p class="grid--card--copy">
      <span>Designing the first multi-tenant capture the flag platform,</span>
      <span>enabling the next generation of cyber security training</span>
    </p>
  </article>
  <article class="grid--card elliptic">
    <img class="grid--card--img elliptic-1" src="/public/elliptic.png" />
    <p class="grid--card--copy">
      <span>Leading design and research on the worlds</span>
      <span>first cross-blockchain tracing tool</span>
    </p>
  </article>
  <article class="grid--card parrot">
    <p class="grid--card--copy">
      <img class="grid--card--img parrot-1" src="/public/parrot.svg" />
      <span>Building a browser based tool for</span>
      <span>learning new languages</span>
    </p>
  </article>
</section>
