:root {
  --bk: #000;
  --bg: #393939;
  --fg: #fff;
  --bl: #3178c6;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  color: var(--fg);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--bl);
}

ul {
  list-style-type: none;
}

@keyframes outerIntro {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.outer {
  position: relative;
  background-color: var(--bg);
  height: fit-content;
  width: 100%;
  padding-bottom: 1rem;
  border-top: 1rem solid var(--bl);
  margin-bottom: 20rem;
  z-index: 100;
  min-height: 110vh;
}

.outer.animated {
  animation: outerIntro 1s forwards;
}

.wrapper {
  background-color: var(--bg);
  width: 980px;
  margin: 0 auto;
}

@keyframes logoIntro {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.logo {
  position: relative;
  border-bottom-right-radius: 1rem;
  width: 5em;
  height: 5rem;
  background-color: var(--bl);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem;
}

.logo.animated {
  transform: translateY(-5rem);
  animation: logoIntro 1s 0.5s forwards;
}

@keyframes logoTextIntro {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.logo--text {
  font-size: 2rem;
  font-weight: 700;
}

.logo--text.animated {
  opacity: 0;
  transform: translateY(-1rem);
  animation: logoTextIntro 1s 0.5s forwards;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation--links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.home--header {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes homeHeaderIntro {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.home--header--title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.home--header--title.animated {
  opacity: 0;
  transform: translateY(2rem);
  animation: homeHeaderIntro 1s 1.5s forwards;
}

.home--header--intro {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 10rem;
}

.home--header--intro span {
  display: block;
}

.home--header--intro span.animated {
  opacity: 0;
  transform: translateY(2rem);
}

.home--header--intro span.animated:nth-of-type(1) {
  animation: homeHeaderIntro 1s 2.5s forwards;
}

.home--header--intro span.animated:nth-of-type(2) {
  animation: homeHeaderIntro 1s 3.5s forwards;
}

.home--header--intro span.animated:nth-of-type(3) {
  animation: homeHeaderIntro 1s 4.5s forwards;
}

@keyframes gridIntro {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.grid.animated {
  transform: translateY(6rem);
  animation: gridIntro 1s 5.5s forwards;
}

.grid--title {
  position: absolute;
  font-size: 3rem;
  top: -3rem;
  z-index: 100;
}

.grid--card {
  position: relative;
  height: 30rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  text-decoration: none;
}

.grid--card * {
  pointer-events: none;
}

.grid--card:before {
  content: 'Read more';
  display: block;
  position: absolute;
  background-color: var(--bk);
  color: var(--bk);
  padding: 1rem;
  top: 0;
  right: 1rem;
  z-index: 200;
  transform: scale(1, 0);
  transform-origin: 0% 0%;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.grid--card:hover:before {
  color: var(--fg);
  transform: scale(1, 1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.grid--card:nth-of-type(2),
.grid--card:nth-of-type(3) {
  width: 50%;
}

.grid--card--copy {
  font-size: 1.25rem;
  font-weight: 400;
}

.grid--card--copy span {
  display: block;
  position: relative;
  width: fit-content;
}

.grid--card--copy span:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--fg);
  transform: scale(0, 1);
  transform-origin: 100% 0%;
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
}

.grid--card:hover > .grid--card--copy span:after {
  transform: scale(1, 1);
  transform-origin: 0% 0%;
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
}

.grid--card--img {
  position: absolute;
}

.mr-1 {
  top: 1.5rem;
  left: -47px;
  width: 287px;
  height: 323px;
}

.mr-2 {
  top: -8px;
  right: -47px;
  width: 208px;
  height: 520px;
}

.papaya-1 {
  top: 1rem;
  left: 1rem;
  height: 80px;
}

.codehub-1 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 140px;
}

.elliptic-1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ranges-1 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 100%;
}

.parrot-1 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  width: 12.5rem;
}

.mr {
  background-color: #26293f;
}

.papaya {
  background-color: #1c211c;
}

.codehub {
  background-color: #c65a5a;
}

.basis {
  background-color: #c86448;
}

.ranges {
  background-color: #1a1b20;
}

.elliptic {
  background-color: #13282f;
}

.parrot {
  background-color: #395fbf;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 20rem;
  background-color: var(--bl);
  z-index: -1;
}

.footer--inner {
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin: 0 auto;
}

.footer--inner--text {
  font-size: 1.25rem;
}

.footer--inner--text span {
  display: block;
}

.footer--outer--text {
  position: absolute;
  font-size: 3.5rem;
  width: 980px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -1.2rem;
}

.page {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 980px;
}

.page--inner {
  padding: 4rem 2rem;
  background-color: var(--bg);
}

.page--back {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}
